
 * {
     box-sizing: content-box;
     margin-left: 2px;
}
.text{
	background-color: #a00000;
	height: 100vh;

}
#about{
	text-align: center;
	margin-top: 20px;
}
#text{
	color: #aa8714;
    font-size:30px;
}
.main2{

	height: 100vh;
	margin-left: 30px;
	margin-top: 50px;

}
body{
	background-repeat: no-repeat;
	background-size: cover;
}
img {
  width: 70px;
  height: 83px;
  float: right;
}
#logo {
	width: 118px;
    height: 126px;
    float: right;
    margin-right: 80px;
    margin-top: -105px;
}
.navbar{
	position: left;
	min-height: 50px;
	margin-bottom: 10px;
	border: 25px solid #8a6d3b;
	text-align: center;
	text-shadow: snow;
	touch-action: pan-right;
	text-decoration-line: blink;
	text-orientation: sideways;
	text-decoration-color: cornflowerblue;
	margin-right: 200px;
	margin-left: 80px;
	font-size: 50px;
}
	  a:link {
	  color: #800000;
	  background: transparent;
	  font-weight: bold;
	  font-size: 0.9em;
	  text-decoration: none;
	  text-align: center;
	  }

		h3 {
		  font-size: 50px;
		  text-align: left;
		  float: inherit;
		  position: absolute;
		  border-style: dashed;
		  font-family: monospace;
		  -webkit-appearance: media-sliderthumb;
		  font-weight: bold;
      text-decoration-line: blink;
			}

			.header {
			    background-color: #a28b63;
			    text-align: inherit;
			    padding: 50px;
			}
      #for{
        margin-top: -902px;
        margin-left: 435px;
        vertical-align: middle;
        box-shadow: black;
        background: #896f4d;
        font-size: 35px;
        box-shadow: 10px 10px 10px 10px #2f2222;
        font-family: sans-serif;
        color: #37302a;
        font-style: italic;
        margin-right: -401px;
      }
      .row {
          margin-right: 223px;
          margin-left: -15px;
      }
      .main2 {
          height: 91vh;
          margin-left: 30px;
          margin-top: 50px;
      }
      #tre {
        float: left;
          margin-top: -1009px;
          margin-left: 729px;
          text-orientation: sideways;
          text-shadow: 10px 10px 10px #120d04;
      }
      #grey {
    float: left;
    margin-top: 150px;
    margin-left: 100px;
    text-orientation: sideways;
    text-shadow: 10px 10px 10px #120d04;
      }
      #tbn {
        width: 372px;
margin-left: 2px;
margin-top: 115px;
height: 285px;
background-color: #cf5353;
box-shadow: 10px 10px;
font-size: 17px;
    }
      #fix{
    background-color: #bf3232;
    height: 100vh;
    margin-left: -21px;
    margin-top: 176px;
