
 * {
     box-sizing: content-box;
     margin-left: 2px;
}
.text{
	background-color: #a00000;
	height: 100vh;

}
#about{
	text-align: center;
	margin-top: 20px;
}
#text{
	color: #aa8714;
    font-size:30px;
}
.main2{

	height: 100vh;
	margin-left: 30px;
	margin-top: 50px;

}
body{

	background-image: url("../img/images (2).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh
	width: 100vh;
}
img {
  width: 70px;
  height: 83px;
  float: right;
}
#logo {
	width: 118px;
    height: 126px;
    float: right;
    margin-right: 544px;
    margin-top: -105px;
}
.navbar{
	position: left;
	min-height: 50px;
	margin-bottom: 10px;
	border: 25px solid #8a6d3b;
	text-align: center;
	text-shadow: snow;
	touch-action: pan-right;
	text-decoration-line: blink;
	text-orientation: sideways;
	text-decoration-color: cornflowerblue;
	margin-right: 200px;
	margin-left: 80px;
	font-size: 50px;
}
	  a:link {
	  color: #800000;
	  background: transparent;
	  font-weight: bold;
	  font-size: 0.9em;
	  text-decoration: none;
	  text-align: center;
	  }

		h3 {
		  font-size: 20px;
		  text-align: left;
		  float: inherit;
		  position: absolute;
		  border-style: dashed;
		  font-family: monospace;
		  -webkit-appearance: media-sliderthumb;
		  font-weight: bold;
			}

			.header {
			    background-color: #a28b63;
			    text-align: inherit;
			    padding: 50px;
			}
      #for{
      	margin-top: -150px;
      	margin-left: -420px;
      	vertical-align: middle;
      }
