* {
  box-sizing: content-box;
  margin-left: 2px;
  font-size: 19px;
  color: #20196e;
 }

#me {
    width: 440px;
    height: 522px;
    float: left;
}
.navbar{
    position: relative;
    min-height: 115px;
    margin-bottom: 43px;
    border: 25px solid #8a6d3b;
    text-align: center;
    text-shadow: snow;
    touch-action: pan-right;
    text-decoration-line: blink;
    text-orientation: sideways;
    text-decoration-color: cornflowerblue;
    margin-right: 61px;
    margin-left: 91px;
    font-size: 50px;
}
#end{
  position: relative;
    margin-bottom: 20px;
    border: 15px solid #8a6d3b;
    text-align: center;
    text-shadow: snow;
    touch-action: pan-right;
    text-decoration-line: blink;
    text-orientation: italic;
    text-decoration-color: cornflowerblue;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 91px;
    height: 362px;
    }
	.navbar{
	    position: relative;
	    min-height: 115px;
	    margin-bottom: 43px;
	    border: 25px solid #8a6d3b;
	    text-align: center;
	    text-shadow: snow;
	    touch-action: pan-right;
	    text-decoration-line: blink;
	    text-orientation: sideways;
	    text-decoration-color: cornflowerblue;
	    margin-right: 61px;
	    margin-left: 91px;
			font-size: 50px;
	}
	header h2 {
		width: 253px;
		height: 34px;
		position: absolute;
		top: 150px;
		left: 216px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}

		#gly {
	    width: 685px;
	    padding: 98px;
	    border: 1px solid gray;
	    height: 300PX;
	    margin-right: 4px;
	    margin-left: 67px;
	    margin-top: 107px;
	    color: #8b7777;
	    box-shadow: 10px 10px 10px #000000;
	    text-align: center;
	    vertical-align: middle;
	    float: left;
	    background-color: #868e96;
      font-size: 11px;
	}
	.content-box{
		height: 50px;

		}
		img {
		    width: 213px;
		    height: 101px;
		    float: right;
			}

		p {
		 text-transform: capitalize;
		 text-decoration-style: dotted;
		 text-decoration-color: skyblue;
		 text-underline-position: inherit;
		 touch-action: manipulation;
		}

		.testbox4 {
			width: 64px;
			padding: 10px;
			border: 2px solid gray;
			height: 92px;
			margin: 0;
			color: cadetblue;
			text-align: justify;
      margin-bottom: 20px;
		}

		.container#men {
    opacity: 2;
    margin-left: -433px;
    margin-top: 375px;
    margin-bottom: 137px;
    min-width: 2px;
    margin-right: 200px
   }

   .row {
       margin-right: 167px;
       margin-left: -15px;
       float: right;
       margin-top: 15px;
       margin-bottom: 21px;
   }

   #write{
    float: inherit;
    width: -40px;
    margin-left: 60px;
   }
   .sidenav {
    height: auto;
    width: 327px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #373737;
    overflow-x: hidden;
    transition: 17.5s;
    padding-top: -260px;
    text-align: center;
    padding-top: -260px;
    font-size: 60px;
}
#styl {
  float: left;
  margin-left: -430px;
  margin-top: -107px;
  width: 802px;
  height: 316px;
}
#me {
    width: 741px;
    height: 580px;
    float: left;
}
#end {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
    border: 15px solid #8a6d3b;
    text-align: center;
    text-shadow: snow;
    touch-action: pan-right;
    text-decoration-line: blink;
    text-orientation: italic;
    text-decoration-color: cornflowerblue;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 30px;
    margin-top: 621px;
}
#star {
  margin-top: 0px;
  width: 914px;
  margin-bottom: -84px;
  height: 362px;
  margin-right: -31px;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 41px;
}
a:link {
color: #bf3232;
background: transparent;
font-weight: bold;
font-size: 0.9em;
text-decoration: none;
text-align: center;
}
div#intro test-box {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 41px;
}
#link {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -590px;
}

#begin {
  padding-left: 53px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -227px;
  font-size: 34px;
}
#ready {
  padding-left: 53px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 256px;
      width: 333px;
      height: 297px
}
#color {
    background-color: #fcf8e3;
}
